*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 150px auto;
    text-align: center;

}

h1{
    margin-bottom: 16px;
}

form{
    margin-bottom: 24px;
}

form input,
form button{
    padding: 5px;
}


.list {
    max-width: 250px;
    margin:  0 auto;
    text-align: left;
    
}

